.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

#top-scorers-list {
  display: flex;
  flex-wrap: wrap;
}

.col-mobile-3 {
  flex-basis: calc(100% / 3);
}

.grey-mobile {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.player-img-mobile {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  .column-half {
    width: 50%;
  }

  .column-sixty-percent {
    width: 60%;
  }

  .col-desktop-5 {
    flex-basis: calc(100% / 5);
  }

  .grey-desktop {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
  }

  .player-img-desktop {
    width: 70%;
  }
}
