main {
  background-color: rgb(23, 23, 23);
}

.header-space {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0.5rem;
}

.premier-img {
  width: 150px;
}

.grey-tab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid rgb(217, 217, 217);
  background-color: rgb(217, 217, 217);
  width: 100%;
  padding: 1rem;
}

.grey-tab a {
  font-family: "Cantora One", sans-serif;
  text-decoration: none;
  color: black;
}

.standings-button {
  text-decoration: underline;
}

.purple-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(61, 24, 92);
  background-color: rgb(61, 24, 92);
  color: white;
  width: 100%;
  font-family: "Cantora One", sans-serif;
}

.purple-tab h3 {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.purple-tab p {
  margin-right: 76px;
}

#standings-table {
  margin: auto;
}

table,
th,
td {
  border: 1px solid rgb(217, 217, 217);
  background-color: rgb(41, 41, 41);
  color: rgb(217, 217, 217);
  font-family: "Cantora One", sans-serif;
  font-size: 1.5rem;
}

.logo-img {
  width: 75px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.center-standing {
  text-align: center;
}

.rank-logo-name {
  display: flex;
  align-items: center;
}

ins {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.rank {
  width: 0.75rem;
}

#top-scorers-list {
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
  color: white;
  padding: 1.5rem;
  font-family: "Cantora One", sans-serif;
}

.col-mobile-3,
.col-desktop-5 {
  padding: 0.75rem;
}

.player-img-mobile,
.player-img-desktop {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
}
